html {
    background-color: #F7F7F7;
    border-top: 4px solid #6f33de;
    font-size: 100%;
    font-family: sans-serif;
    color: #4c4c4c;
}

#search-block {
    width: 500px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -250px;
}

#search-block #logo img {
    display: block;
    width: 250px;
    height: 200px;
    margin-left: 125px;
}

#search-block #logo h1 {
    text-decoration: none;
    font-weight: normal;
    text-align: center;
    display: block;
    width: inherit;
    margin-top: -40px;
}

form {
    display: block;
    width: 500px;
    height: 46px;
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #d0d0d0;
}

form .textarea {
    display: inline-block;
    height: inherit;
    width: 444px;
    border: none;
    line-height: 1.6;
    font-size: 1.6em;
    padding-left: 10px;
    color: #3c3c3c;
}

form .submit {
    background-color: #ffffff;
    background-image: url('search-b.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    height: 40px;
    width: 50px;
    margin: 3px;
    border: none;
}

form .submit:hover {
    background-color: #6f33de;
    background-image: url('search-w.svg');
}

header {
    width: 100%;
    height: 120px;
    position: absolute;
    top: 0px;
    left: 0px;
}

header #logo {
    display: inline-block;
    width: auto;
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: -40px;
}

header form {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    left: 120px;
}

header aside {
    text-align: right;
    display: block;
    width: 200px;
    height: 1.2em;
    position: absolute;
    right: 0px;
    margin-right: 0.5em;
    top: 100%;
    margin-top: -1.7em;
}

header aside a {
    text-decoration: none;
}

section {
    height: auto;
    width: 100%;
    position: absolute;
    top: 120px;
    left: 0px;
    padding-top: 20px;
    background-color: #fbfbfb;
    border-top: 1px solid #D9D9D9;
}

section article {
    width: 600px;
    height: 120px;
    position: relative;
    left: 2%;
    margin-bottom: 20px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 10px;
}

section article:hover {
    background-color: #efefef;
}

section article img {
    display: inline-block;
    width: auto;
    height: 120px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #3c3c3c;
}

section article .metadata {
    display: inline-block;
    position: absolute;
}

section article .metadata a {
    text-decoration: none;
}

section article .metadata h2 {
    color: #3c3c3c;
    padding-right: 20px;
    margin-top: 0px;
    margin-bottom: 0.2em;
}

section article .metadata h2:hover {
    color: #5c5c5c;
}

section article .metadata .domainname {
    margin-top: 0px;
    color: inherit;
}

section article .metadata .domainname:hover {
    color: #5c5c5c;
}
